.form__wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  max-width: 300px;
  width: 100%;
  height: 134px;
  margin: 23px;
}

.form__input {
  padding: 8px;
}

.form__btn {
  font-size: 17px;
}
