.h5 {
  font-weight: bolder;
}

.list {
  width: 100%;
  max-width: 360px;
  background-color: 'background.paper';
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  margin: 20px auto !important;
}

.listItem {
  justify-content: center;
}

.input {
  width: 100%;
  margin-bottom: 20px !important;
}

.textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 10px !important;
}

.button {
  width: 100%;
}
